<launch>
    <node pkg="input" type="cameraNODE.py" 				name="camaeraNODE"  			output="screen"/>
    <node pkg="input" type="imuNODE.py" 				name="imuNODE"  				output="screen"/>
    <node pkg="camera_filter" type="FilterNODE.py"			name="FilterNODE"   output="screen"/>    
    <node pkg="output" type="serialNODE.py" 			name="serialNODE"  				output="screen"/>
</launch>
